//text
$black: #444444;
$grey: #f7f7f7;
$white: #fff;

$primary: #41295a;
$secondary: #60d394;
$secondary_dark: #54ca82;
$secondary_light: #5ee090;

$gradient: linear-gradient(to top, #41295a, #2f0743);

$alert: #c53f3f;
$valid: $secondary;

$disabledBackground: #f1f1f1;

$borderPrimary: #d1d1d1;

$green_tag: #dff0d0;
$green_tag__text: #266900;
$orange_tag: #feecb5;
$orange_tag__text: #313131;
$red_tag: #f5dbd0;
$red_tag__text: #a32100;
$blue_tag: #e1f1f6;
$blue_tag__text: #004a70;

//spacings
$spacing_1: 18px;
$spacing_2: 24px;
$spacing_3: 36px;
$spacing_4: 48px;
